<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align grey darken-2">
  <br>
  <%= link_to 'Home', home_path, class: 'btn white-text' %>&nbsp;&nbsp;
  <%= link_to 'About GCPD', about_path, class: 'btn white-text' %>&nbsp;&nbsp;
  <%= link_to 'Contact GCPD', contact_path, class: 'btn white-text' %>&nbsp;&nbsp;
  <%= link_to 'Privacy Policy', privacy_path, class: 'btn white-text' %>

  <div id="copy" class="white-text">
    Webmaster <%= mail_to("junweiet@andrew.cmu.edu", "Ethan Tan", encode: "javascript", class: 'white-text') %> 
    &nbsp;&nbsp;&copy 2024
  </div>
  </div>
</div>
</div>

</div>